name: Docs

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # https://github.com/actions/checkout/commit/08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      # https://github.com/astral-sh/setup-uv/commit/3259c6206f993105e3a61b142c2d97bf4b9ef83d
      - name: Install uv
        uses: astral-sh/setup-uv@3259c6206f993105e3a61b142c2d97bf4b9ef83d # v7.1.0
        with:
          version: "latest"
      # https://github.com/actions/setup-python/commit/e797f83bcb11b83ae66e0230d6156d7c80228e7c
      - name: Set up Python 3.10
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: uv sync --extra docs
      - name: Build HTML
        run: |
          cd docs/
          uv run make html
      - name: Copy CNAME to html dir
        run: |
          ls
          cp CNAME docs/_build/html/CNAME
      - name: Run ghp-import
        run: uv run ghp-import -n -p -f docs/_build/html
