on: [release, workflow_dispatch]


env:
  HATCH_INDEX_USER: __token__
  HATCH_INDEX_AUTH: ${{ secrets.HATCH_INDEX_AUTH }}

name: Release
jobs:
  release:
    name: Release Cirun Python Client
    runs-on: ubuntu-latest

    steps:
      # https://github.com/actions/checkout/commit/08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      # https://github.com/astral-sh/setup-uv/commit/3259c6206f993105e3a61b142c2d97bf4b9ef83d
      - name: Install uv
        uses: astral-sh/setup-uv@3259c6206f993105e3a61b142c2d97bf4b9ef83d # v7.1.0
        with:
          version: "latest"
      - name: Install dependencies
        run: uv sync --extra build

      - name: Hatch Build
        run: uv run hatch build

      - name: Hatch Publish
        run: uv run hatch publish -n
