on: push

name: Test
jobs:
  test:
    strategy:
      matrix:
        version: ["3.9", "3.10", "3.11"]
    runs-on: ubuntu-latest

    steps:
      # https://github.com/actions/checkout/commit/08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      # https://github.com/astral-sh/setup-uv/commit/3259c6206f993105e3a61b142c2d97bf4b9ef83d
      - name: Install uv
        uses: astral-sh/setup-uv@3259c6206f993105e3a61b142c2d97bf4b9ef83d # v7.1.0
        with:
          version: "latest"
      # https://github.com/actions/setup-python/commit/e797f83bcb11b83ae66e0230d6156d7c80228e7c
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "${{ matrix.version }}"
      - name: Install dependencies
        run: uv sync --all-extras

      - name: Sanity Check CLI
        run: |
          uv run cirun -v
          uv run cirun --version
          uv run cirun -h
          uv run cirun repo -h
          uv run cirun repo add -h
          uv run cirun repo remove -h
          uv run cirun cloud -h
          uv run cirun cloud connect -h
          uv run cirun cloud connect aws -h
          uv run cirun cloud connect azure -h
          uv run cirun cloud connect gcp -h
          uv run cirun cloud connect openstack -h
          uv run cirun cloud connect oracle -h
      - name: Run Python Tests
        run: uv run pytest -vv
